<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Publicar Empleo - Kaizen Talent</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="José Soplin Roncal" />

    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

    <!--Material Icons -->
    <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css" />

    <!-- Selectize CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/nice-select.css" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>
    
    <app-navigation></app-navigation>
    
    <!-- Inicio -->
    <section class="bg-half page-next-level"> 
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Publicar Empleo</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Inicio -->

    <!-- Inicio Publicar Empleo -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="rounded shadow bg-white p-4">
                        <div class="custom-form">
                            <div id="message3"></div>
                            <form method="post" name="puestostrabajoform" id="contact-form3" 
                                  [formGroup]="puestostrabajoform" (ngSubmit)="Publicarempleo()" enctype="multipart/form-data" >
                                <h4 class="text-dark mb-3">Publicar Empleo :</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Título del puesto </label>
                                            <input id="company-name" type="text" class="form-control resume" placeholder=""  name="nombrePuestoTrabajo" id="nombrePuestoTrabajo"
                                            formControlName="nombrePuestoTrabajo" required
                                            
                                            [ngClass]="{
                                                'is-invalid': puestostrabajoform.controls['nombrePuestoTrabajo'].invalid && 
                                                             (puestostrabajoform.controls['nombrePuestoTrabajo'].dirty || 
                                                             puestostrabajoform.controls['nombrePuestoTrabajo'].touched) , 
                                                  'is-valid': puestostrabajoform.controls['nombrePuestoTrabajo'].valid}">

                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="puestostrabajoform.controls['nombrePuestoTrabajo'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="puestostrabajoform.controls['nombrePuestoTrabajo'].hasError('minlength')">
                                                    Debe contener al menos 5 caracteres
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="puestostrabajoform.controls['nombrePuestoTrabajo'].hasError('maxlength')">
                                                    Debe contener como maximo 50 caracteres
                                                </span>
                                            </div>                                            
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Tipo de Jornada</label>
                                            <div class="form-button">

                                                <input (change)="savejor($event)"  type="form-control required" class="form-control demo-default" list="tpostulacion" name="tpostulacion" onfocus="this.value=''"
                                                        placeholder="Tipo de Jornada" formControlName="tipojornadaPuestoTrabajo" required 
                                                        [ngClass]="{
                                                            'is-invalid': puestostrabajoform.controls['tipojornadaPuestoTrabajo'].invalid && 
                                                                         (puestostrabajoform.controls['tipojornadaPuestoTrabajo'].dirty || 
                                                                         puestostrabajoform.controls['tipojornadaPuestoTrabajo'].touched) , 
                                                              'is-valid': puestostrabajoform.controls['tipojornadaPuestoTrabajo'].valid}">

                                                <datalist id="tpostulacion">
                                                    <option *ngFor="let tpostulacion of TipoPostulacion" value="{{tpostulacion.value}}">{{tpostulacion.text}}</option>       
                                                </datalist>

                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="puestostrabajoform.controls['tipojornadaPuestoTrabajo'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                    </span>
                                                </div>                                                                                    
                                            </div>
                                            <p style="color: red; font-size: 13px;">{{msgerror}}</p>                                            
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Ciudad</label>
                                            <div class="form-button">
                                                <input (change)="savecity($event)" type="form-control" class="form-control demo-default" list="ciudad" placeholder="Ciudad" 
                                                       onfocus="this.value=''" formControlName="ciudadPuestoTrabajo" required
                                                       [ngClass]="{
                                                        'is-invalid': puestostrabajoform.controls['ciudadPuestoTrabajo'].invalid && 
                                                                     (puestostrabajoform.controls['ciudadPuestoTrabajo'].dirty || 
                                                                     puestostrabajoform.controls['ciudadPuestoTrabajo'].touched) , 
                                                          'is-valid': puestostrabajoform.controls['ciudadPuestoTrabajo'].valid}" >
                                                <datalist id="ciudad">
                                                    <option *ngFor="let ciudad of Ciudades" value="{{ciudad.value}}">{{ciudad.text}}</option>                           
                                                </datalist>

                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="puestostrabajoform.controls['ciudadPuestoTrabajo'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                    </span>
                                                </div>
                                            </div>
                                            <p style="color: red; font-size: 13px;">{{msgerror}}</p> 
                                        </div>
                                        
                                    </div>                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Sueldo</label>
                                            <input type="number"  class="form-control resume" formControlName="sueldoPuestoTrabajo" 
                                            >
                                               
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Categoría de Empleo</label>
                                            <div class="form-button">
                                                <input (change)="savecat($event)" type="form-control" class="form-control demo-default" list="categoria" placeholder="Categoría" 
                                                       onfocus="this.value=''" formControlName="categoriaPuestoTrabajo" required 
                                                       [ngClass]="{
                                                        'is-invalid': puestostrabajoform.controls['categoriaPuestoTrabajo'].invalid && 
                                                                     (puestostrabajoform.controls['categoriaPuestoTrabajo'].dirty || 
                                                                     puestostrabajoform.controls['categoriaPuestoTrabajo'].touched) , 
                                                          'is-valid': puestostrabajoform.controls['categoriaPuestoTrabajo'].valid}">
                                                <datalist id="categoria">
                                                    <option *ngFor="let categoria of Categorias" value="{{categoria.value}}">{{categoria.text}}</option>                           
                                                </datalist>
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="puestostrabajoform.controls['categoriaPuestoTrabajo'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div> 
                                            </div>
                                            <p style="color: red; font-size: 13px;">{{msgerror}}</p> 
                                        </div>
                                        
                                    </div>                                   
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Tiempo de Experiencia</label>
                                            <div class="form-button">
                                                <input (change)="savetime($event)" type="form-control" class="form-control demo-default" list="experiencia" placeholder="Experiencia" 
                                                       onfocus="this.value=''"    formControlName="experienciaPuestoTrabajo" required
                                                       [ngClass]="{
                                                        'is-invalid': puestostrabajoform.controls['experienciaPuestoTrabajo'].invalid && 
                                                                     (puestostrabajoform.controls['experienciaPuestoTrabajo'].dirty || 
                                                                     puestostrabajoform.controls['experienciaPuestoTrabajo'].touched) , 
                                                          'is-valid': puestostrabajoform.controls['experienciaPuestoTrabajo'].valid}">
                                                <datalist id="experiencia">
                                                    <option *ngFor="let experiencia of Experiencia" value="{{experiencia.text}}" >{{experiencia.text}}</option>                           
                                                </datalist>
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="puestostrabajoform.controls['experienciaPuestoTrabajo'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div> 
                                            </div>
                                            <p style="color: red; font-size: 13px;">{{msgerror}}</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Periodo de Publicación</label>
                                            <div class="form-button">
                                                <input (change)="saveper($event)" type="form-control" class="form-control demo-default" list="publicacion" placeholder="Tiempo de publicación" 
                                                       onfocus="this.value=''" formControlName="periodopublicacionPuestoTrabajo" required 
                                                       [ngClass]="{
                                                        'is-invalid': puestostrabajoform.controls['periodopublicacionPuestoTrabajo'].invalid && 
                                                                     (puestostrabajoform.controls['periodopublicacionPuestoTrabajo'].dirty || 
                                                                     puestostrabajoform.controls['periodopublicacionPuestoTrabajo'].touched) , 
                                                          'is-valid': puestostrabajoform.controls['periodopublicacionPuestoTrabajo'].valid}">
                                                <datalist id="publicacion">
                                                    <option *ngFor="let publicacion of Publicacion" value="{{publicacion.text}}" >{{publicacion.text}}</option>                           
                                                </datalist>
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="puestostrabajoform.controls['periodopublicacionPuestoTrabajo'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div>
                                            </div>
                                            <p style="color: red; font-size: 13px;">{{msgerror}}</p> 
                                        </div>
                                       
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Modalidad del Puesto de Trabajo</label>
                                            <div class="form-button">
                                                <input (change)="savemod($event)" type="form-control" class="form-control demo-default" list="remoto" placeholder="Modalidad" 
                                                       onfocus="this.value=''"   formControlName="trabajoremotoPuestoTrabajo" required 
                                                       [ngClass]="{
                                                        'is-invalid': puestostrabajoform.controls['trabajoremotoPuestoTrabajo'].invalid && 
                                                                     (puestostrabajoform.controls['trabajoremotoPuestoTrabajo'].dirty || 
                                                                     puestostrabajoform.controls['trabajoremotoPuestoTrabajo'].touched) , 
                                                          'is-valid': puestostrabajoform.controls['trabajoremotoPuestoTrabajo'].valid}">
                                                <datalist id="remoto">
                                                    <option *ngFor="let remoto of Remoto" >{{remoto.text}}</option>                           
                                                </datalist>
                                                <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="puestostrabajoform.controls['trabajoremotoPuestoTrabajo'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div>
                                            </div>
                                            <p style="color: red; font-size: 13px;">{{msgerror}}</p> 
                                        </div>
                                        
                                    </div>

                                </div>

                                <div class="row">
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group app-label mt-2">
                                            <label class="text-muted">Descripción del Empleo</label>
                                            <textarea id="description" rows="6" class="form-control resume" placeholder="" formControlName="descripcionPuestoTrabajo" ></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 mt-2">
                                        <input href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalRespuesta" type="submit" [disabled]="!puestostrabajoform.valid" value="Publicar Empleo">
                                    </div>
                                </div>
                            </form>

                                             
                            <!-- MODAL Cambiar contraseña-->
                            <div class="modal fullscreen-modal fade" tabindex="-1" role="dialog" id="modalRespuesta">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title w-100 text-center">Mensaje del Sistema</h5>
                                            <button (click)="cerrar()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <p style="text-align: center; "> {{message2}} </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button (click)="cerrar()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Publicar Empleo -->

    <app-footer></app-footer>
    <!-- Subir -->
    <a class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Fin Subir -->
    

</body>
</html>