<!-- --><!--NUEVO HTML
-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">    
<br>

<!--ACA EMPIEZA-->

<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 69.4rem;">
    <div class="card-body">
      <h3 class="card-header d-flex justify-content-between align-items-center"><b>Conocimientos</b><button class="seccion_btn btnAgregar" type="button" data-toggle="modal" data-target="#NuevoModalConocimiento"><i class="fas fa-plus"></i></button></h3>
      <!--Inicio Row de Cartas-->
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-4" *ngFor="let con of CurrentConocimiento | conocimientos: filterConocimientos">
           <!--Inicio Card 1-->
            <div class="card cardInterna popu-category-box" style="width: 18rem;">
                <div class="card-body">
                    <i class="mdi mdi-48px mdi-school iconoEducacion"></i>
                    <h6 style="text-align: center;" class="text-uppercase f-17"><a href="#" class="text-muted">{{con.nombreSkill}}  </a></h6>
                    <p style="text-align: center;">{{con.nivelSkill}}</p>
                    <div class="">
                        <button class="btnBotoncitos btnEditar" [class.active]="con == ListCon" (click)="SeleccionarCon(con)" data-toggle="modal" data-target="#NuevoModalConocimientoUpdate" type="submit">
                            <i class="fas fa-pen"></i>
                        </button>

                        <button href ="#deleteConocimientoModal"  data-toggle="modal" [class.active]="con == ListCon" (click)="SeleccionarCon(con)" type="submit" class="btnBotoncitos btnTrash">
                            <i class="fas fa-trash"></i>
                        </button>               
                    </div>
                </div>
            </div>
            <!--Nuevo Modal Editar-->
       <!--Nuevo Modal-->
       <div class="modal fullscreen-modal animate__animated animate__slideInUp" id="NuevoModalConocimientoUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 100%" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Editar Conocimiento</h4>
              <button type="button" class="close" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">
                  <!--Boton X-->
                <!--<span aria-hidden="true">&times;</span>-->
              </button>
              
            </div>
            <div class="modal-body">
                <form  [formGroup]="conocimientosUpdateModalForm" (ngSubmit)="updateConocimiento()">

                    <div class="form-group row divCentroEducativo">
                        <h3 id="tituloCentroEducativo"for="inputCentroEducativo" class="col-form-label">Nombre Conocimiento</h3>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCentroEducativo" placeholder="Ingresa el Nombre del Conocimiento"
                            name="nombreConocimiento" [ngModel]="nombreSkill" formControlName="nombreConocimiento" required  
                            [ngClass]="{
                                'is-invalid': conocimientosUpdateModalForm.controls['nombreConocimiento'].invalid && 
                                         (conocimientosUpdateModalForm.controls['nombreConocimiento'].dirty || 
                                         conocimientosUpdateModalForm.controls['nombreConocimiento'].touched) , 
                                'is-valid': conocimientosUpdateModalForm.controls['nombreConocimiento'].valid}">

                                <div class="invalid-feedback" style="margin-left: 31%;">
                                    <span class="text-danger" *ngIf="conocimientosUpdateModalForm.controls['nombreConocimiento'].hasError('required')">
                                                No puede dejar este campo vacío
                                    </span>
                                </div>
                                <div class="invalid-feedback" style="margin-left: 31%;">
                                    <span class="text-danger" *ngIf="conocimientosUpdateModalForm.controls['nombreConocimiento'].hasError('minlength')">
                                            Debe contener al menos 2 caracteres
                                    </span>
                                </div>
                                <div class="invalid-feedback" style="margin-left: 31%;">
                                    <span class="text-danger" *ngIf="conocimientosUpdateModalForm.controls['nombreConocimiento'].hasError('maxlength')">
                                            Debe contener como maximo 50 caracteres
                                    </span>
                                </div> 
                        </div>                        
                    </div>
                    
                    <div class="form-group row">
                        <h3 id="tituloNivelEstudios"for="inputTituloNEstudios" class="col-form-label">Nivel de Conocimiento</h3>
                        <div class="col-sm-10">
                        <select (change)="SeleccionarNivel($event)" id="inputNivelEstudios" class="form-control">
                          <option selected disabled> {{nivelSkill}} </option>
                          <option  *ngFor="let nivelconocimiento of NivelGeneral" value="{{nivelconocimiento.value}}">{{nivelconocimiento.text}}</option>  
                        </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="seccion_btnModal btnGuardar" type="submit" [disabled]="!conocimientosUpdateModalForm.valid"><i class="far fa-save"></i>Guardar</button>
                    </div> 
                </form>                              
            </div>            
          </div>
        </div>
      </div>
       <!--Fin Nuevo Modal-->
       <!--Fin Nuevo Modal-->
          <!--Fin Card 1-->
        </div>
       </div>
       <!--Fin Row de Cartas-->

       <!--Nuevo Modal-->
       <div class="modal fullscreen-modal animate__animated animate__slideInUp" id="NuevoModalConocimiento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 100%" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Agregar Conocimiento</h4>
              <button type="button" class="close" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">
                  <!--Boton X-->
                <!--<span aria-hidden="true">&times;</span>-->
              </button>
              
            </div>
            <div class="modal-body">
                <form  [formGroup]="conocimientosModalForm" (ngSubmit)="registrarConocimiento()" >

                    <div class="form-group row divCentroEducativo">
                        <h3 id="tituloCentroEducativo"for="inputCentroEducativo" class="col-form-label">Nombre Conocimiento</h3>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCentroEducativo" placeholder="Ingresa el Nombre del Conocimiento"
                            name="nombreConocimiento" formControlName="nombreConocimiento" required 
                            [ngClass]="{
                                'is-invalid': conocimientosModalForm.controls['nombreConocimiento'].invalid && 
                                         (conocimientosModalForm.controls['nombreConocimiento'].dirty || 
                                         conocimientosModalForm.controls['nombreConocimiento'].touched) , 
                                'is-valid': conocimientosModalForm.controls['nombreConocimiento'].valid}">

                                <div class="invalid-feedback" style="margin-left: 31%;">
                                    <span class="text-danger" *ngIf="conocimientosModalForm.controls['nombreConocimiento'].hasError('required')">
                                                No puede dejar este campo vacío
                                    </span>
                                </div>
                                <div class="invalid-feedback" style="margin-left: 31%;">
                                    <span class="text-danger" *ngIf="conocimientosModalForm.controls['nombreConocimiento'].hasError('minlength')">
                                            Debe contener al menos 2 caracteres
                                    </span>
                                </div>
                                <div class="invalid-feedback" style="margin-left: 31%;">
                                    <span class="text-danger" *ngIf="conocimientosModalForm.controls['nombreConocimiento'].hasError('maxlength')">
                                            Debe contener como maximo 50 caracteres
                                    </span>
                                </div> 
                        </div>                        
                    </div>
                    
                    <div class="form-group row">
                        <h3 id="tituloNivelEstudios"for="inputTituloNEstudios" class="col-form-label">Nivel de Conocimiento</h3>
                        <div class="col-sm-10">
                        <select (change)="SeleccionarNivel($event)" id="inputNivelEstudios" class="form-control">
                            <option selected disabled>Selecciona el Nivel de Conocimiento</option>
                            <option *ngFor="let nivelconocimiento of NivelGeneral" value="{{nivelconocimiento.value}}">{{nivelconocimiento.text}}</option>  
                        </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="seccion_btnModal btnGuardar" type="submit" [disabled]="!conocimientosModalForm.valid"><i class="far fa-save"></i> Guardar</button>
                    </div> 
                </form>                                 
            </div>            
          </div>
        </div>
      </div>
       <!--Fin Nuevo Modal-->


       
      
       <!--Niu-->
      
       <!--Niu-->
    </div>
  </div>
  

<div id="deleteConocimientoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="deleteCon()">
                <div class="modal-header">      
                    <h4 class="modal-title">Eliminar Conocimiento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">     
                    <p>¿Estás seguro que deseas eliminar esta publicación?</p>
                    <p class="text-warning"><small>Esta acción no se puede deshacer</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Eliminar">
                </div>
            </form>
        </div>
    </div>
</div>




