           
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Kaizen Talent - HeadHunting</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <link rel="stylesheet" href="/assets/css/bootstrap-material-design.min.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/icons.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/styleHeadHunting.css" type="text/css">
        <link rel="stylesheet" href="/assets/css/tablasHeadHunting.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="/assets/css/pagination.css" />

        <!---->
        

    </head>


    <body class="fixed-left">

        

        <!-- Inicio de página -->
        <div id="wrapper">

            <!-- Inicio Barrita izquierda xd -->
            <div class="left side-menu">
                <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
                    <i class="mdi mdi-close"></i>
                </button>

                <!-- Logo Kaizen -->
                <div class="topbar-left">
                    <div class="text-center">
                        <a href="index" class="logo">
                            <img src="assets/images/logo.png" alt="" class="logo-large">
                        </a>
                    </div>
                </div>

                <div class="sidebar-inner slimscrollleft" id="sidebar-main">

                    <div id="sidebar-menu">
                        <ul>
                            <li class="menu-title">Inicio</li>

                            <li>
                                <a class="waves-effect">
                                    <i class="fa fa-search"></i>
                                    <span> Búsqueda
                                        <span class="badge badge-pill badge-primary float-right">{{filterMetadata.count}}</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Fin Barrita Izquierda-->

            <!-- Contenido parte derecha-->

            <div class="content-page">
                <!-- Inicio del contenido -->
                <div class="content">

                    <!-- Barra superior-->
                    <div class="topbar">

                        <nav class="navbar-custom">
                            <div class="dropdown notification-list nav-pro-img">

                                <div class="list-inline-item hide-phone app-search">
                                    <form role="search" class="">
                                        <div class="form-group pt-1">
                                            <input type="text" class="form-control" placeholder="Buscar...">
                                            <a href="">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <ul class="list-inline float-right mb-0 mr-3">
                                <li class="list-inline-item dropdown notification-list">
                                </li>
                                <li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                                        aria-expanded="false">
                                        <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle img-thumbnail">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>¡Hola!</h5>
                                        </div>
                                        <a class="dropdown-item" href="/reclutador/{{this.idrec}}/profile">
                                            <i class="mdi mdi-account-circle m-r-5 text-muted"></i> Perfil
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" (click)="Salir()" style="cursor: pointer;">
                                            <i class="mdi mdi-logout m-r-5 text-muted"></i> Cerrar Sesión
                                        </a>
                                    </div>
                                </li>
                            </ul>

                            

                            <ul class="list-inline menu-left mb-0">
                                <li class="float-left">
                                    <button class="button-menu-mobile open-left waves-light waves-effect">
                                        <i class="mdi mdi-menu"></i>
                                    </button>
                                </li>
                            </ul>

                            <div class="clearfix"></div>

                        </nav>

                    </div>
                    <!-- Fin Barra Superior -->

                    <div class="page-content-wrapper dashborad-v">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-title-box">
                                        <div class="btn-group float-right">
                                            <ol class="breadcrumb hide-phone p-0 m-0">
                                                <li class="breadcrumb-item"><a href="#">Kaizen Talent</a></li>
                                                <li class="breadcrumb-item active">Búsqueda en base</li>
                                            </ol>
                                        </div>
                                        <h4 class="page-title">Búsqueda en base</h4>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <!-- Inicio del contenido -->
                            <div class="row">
                                <div class="col-md-12 col-xl-3">
                                    <div class="card m-b-30">
                                        <div class="card-body">
                                            <h5 class="header-title mb-3 mt-0">Lista de Filtros</h5>
                                            <!--Lista de Filtros para el HeadHunting-->
                                            <section class="mb-4">
                                                <div class="negrita"> 
                                                    <h6 class="font-weight-bold mb-3">Palabra Clave</h6>
                                                </div>
                                                
                                                <input class="form-control" type="text" placeholder="Ingrese palabra clave" name="FilterPostDescripcion" [(ngModel)]="FilterPostPalabraClave">
                                                                                        <br>
                                                <h6 class="font-weight-bold mb-3">Edad</h6>
                                                <form>
                                                    <div class="d-flex align-items-center mt-4 pb-1">
                                                      <div class="md-form md-outline my-0">
                                                        <input id="from" type="text" class="form-control mb-0" name="FilterPostEdadInicio" [(ngModel)]="FilterPostEdadInicio">
                                                        <div class="centrar-textito">
                                                            <label for="form">Desde</label>
                                                        </div>
                                                      </div>
                                                      <p class="px-2 mb-0 text-muted"> - </p>
                                                      <div class="md-form md-outline my-0">
                                                        <input id="to" type="text" class="form-control mb-0" name="FilterPostEdadFin" [(ngModel)]="FilterPostEdadFin">
                                                        <div class="centrar-textito">
                                                            <label for="to">Hasta</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </form>
                                                
                                                <h6 class="font-weight-bold mb-3">Educación</h6>
                                                <input class="form-control" type="text" placeholder="Institución Educativa" name="FilterPostInstitucionEducativa" [(ngModel)]="FilterPostInstitucionEducativa">                                                
                                                <br>
                                                <section>
                                                    <h6 class="font-weight-bold mb-3">Lugar de residencia</h6>
                                                    <input class="form-control" type="text" placeholder="Ciudad" list="ciudadUsuario" name="FilterPostCiudad" [(ngModel)]="FilterPostCiudad" >
                                                    <datalist id="ciudadUsuario">
                                                        <option *ngFor="let ciudad of Ciudades" value="{{ciudad.value}}" >{{ciudad.text}}</option>
                                                    </datalist>
                                                </section>

                                            </section>

                                            <section>
                                                
                                                <!--Google map-->
                                                <!--<div id="map-container-google-2" class="z-depth-1-half map-container" style="width: 50  px">-->
                                                    <!--<iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"-->
                                                      <!--style="border:0" allowfullscreen></iframe>-->
                                                  <!--</div>-->
                                                <!--Google map-->
                                                
                                            </section>
                                            <br>    
                                            <section>
                                                <h6 class="font-weight-bold mb-3">Pretención Salarial</h6>
                                                <form>
                                                    <div class="d-flex align-items-center mt-4 pb-1">
                                                      <div class="md-form md-outline my-0">
                                                        <input id="from" type="text" class="form-control mb-0" name="FilterPostPretensionMin" [(ngModel)]="FilterPostPretensionMin">
                                                        <div class="centrar-textito">
                                                            <label for="form">S/. Mínimo</label>
                                                        </div>
                                                      </div>
                                                      <p class="px-2 mb-0 text-muted"> - </p>
                                                      <div class="md-form md-outline my-0">
                                                        <input id="to" type="text" class="form-control mb-0" name="FilterPostPretensionMax" [(ngModel)]="FilterPostPretensionMax">
                                                        <div class="centrar-textito">
                                                            <label for="to">S/. Máximo</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </form> 
                                            </section>

                                            <section class="mb-4">
                                                <h6 class="font-weight-bold mb-3">Idioma</h6>
                                                <form>
                                                    <div class="d-flex align-items-center mt-4 pb-1">
                                                      <div class="md-form md-outline my-0">
                                                        <input id="from" type="text" name="FilterPostIdioma" list="idioma" placeholder="Idioma" 
                                                            [(ngModel)]="FilterPostIdioma" class="form-control mb-0" >

                                                        <datalist id="idioma">
                                                            <option *ngFor="let idioma of Idioma" value="{{idioma.value}}">{{idioma.text}}</option>
                                                        </datalist>

                                                        <div class="centrar-textito">
                                                            <label for="form">Idioma</label>
                                                        </div>
                                                      </div>
                                                      <p class="px-2 mb-0 text-muted"> - </p>
                                                      <div class="md-form md-outline my-0">
                                                        <input id="to" type="text" name="FilterPostNivelIdioma" list="nivelIdioma" placeholder="Nivel"
                                                        class="form-control mb-0" [(ngModel)]="FilterPostNivelIdioma">                                                       

                                                        <datalist id="nivelIdioma">
                                                            <option *ngFor="let nivelidioma of NivelIdioma" value="{{nivelidioma.value}}">{{nivelidioma.text}}</option>
                                                        </datalist>

                                                        <div class="centrar-textito">
                                                            <label for="to">Nivel</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </form> 
                                            </section>
                                            
                                            <section class="mb-4">
                                                <h6 class="font-weight-bold mb-3">Conocimiento</h6>
                                                <form>
                                                    <div class="d-flex align-items-center mt-4 pb-1">
                                                      <div class="md-form md-outline my-0">
                                                        <input id="from" type="text" name="FilterPostConocimiento" class="form-control mb-0" [(ngModel)]="FilterPostConocimiento">

                                                        <div class="centrar-textito">
                                                            <label for="form">Nombre</label>
                                                        </div>
                                                      </div>
                                                      <p class="px-2 mb-0 text-muted"> - </p>
                                                      <div class="md-form md-outline my-0">

                                                        <input id="to" type="text" name="FilterPostNivelConocimiento" list="nivelConocimiento" class="form-control mb-0"
                                                               [(ngModel)]="FilterPostNivelConocimiento">     

                                                        <datalist id="nivelConocimiento">
                                                            <option *ngFor="let nivelconocimiento of NivelGeneral" value="{{nivelconocimiento.value}}">{{nivelconocimiento.text}}</option>
                                                        </datalist>

                                                        <div class="centrar-textito">
                                                            <label for="to">Nivel</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </form> 
                                            </section>

                                            <section class="mb-4">
                                                <h6 class="font-weight-bold mb-3">Habilidad</h6>
                                                <form>
                                                    <div class="d-flex align-items-center mt-4 pb-1">
                                                      <div class="md-form md-outline my-0">
                                                        <input id="from"  name="FilterPostHabilidad" class="form-control mb-0" [(ngModel)]="FilterPostHabilidad">
                                                        <div class="centrar-textito">
                                                            <label for="form">Nombre</label>
                                                        </div>
                                                      </div>
                                                      <p class="px-2 mb-0 text-muted"> - </p>
                                                      <div class="md-form md-outline my-0">

                                                        <input id="to" type="text" name="FilterPostNivelHabilidad" list="nivelHabilidad" class="form-control mb-0"
                                                            [(ngModel)]="FilterPostNivelHabilidad">     

                                                        <datalist id="nivelHabilidad">
                                                            <option *ngFor="let nivelhabilidad of NivelGeneral" value="{{nivelhabilidad.value}}">{{nivelhabilidad.text}}</option>
                                                        </datalist>                                 
                                                     <div class="centrar-textito">
                                                            <label for="to">Nivel</label>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </form> 
                                            </section>
                                            <!--Fin Lista de Filtros para el HeadHunting-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-9">
                                    <div class="card m-b-30">
                                        <div class="card-body new-user">
                                            <h5 class="header-title mb-3 mt-0">Resultados de Búsqueda</h5>
                                            <!--Resultados de Los postulantes-->
                                            <!---->
                                            
                                            <!---->
                                            <!--Fin resultados de los postulantes-->
                                            
                                            <!---->
                                            <div class="container rounded mt-0 bg-white p-md-1">
                                                <div class="table-responsive">
                                                    <table class="table" id="example">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Foto</th>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Cargo</th>
                                                                <th scope="col">Centro de Labores</th>
                                                                <th scope="col">Periodo de Inicio</th>
                                                                <th scope="col">Periodo de Fin</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                
                                                      <!--  -->     
                                                            <tr *ngFor="let lista of Lista | general : filterGeneral
                                                                                           | palabraclave:FilterPostPalabraClave:filterMetadata 
                                                                                           | edadInicio:FilterPostEdadInicio:filterMetadata 
                                                                                           | edadFin:FilterPostEdadFin:filterMetadata                                                                                            
                                                                                           | institucionEducativa:FilterPostInstitucionEducativa 
                                                                                           | ciudad:FilterPostCiudad:filterMetadata 
                                                                                           | pretensionMin : FilterPostPretensionMin: filterMetadata
                                                                                           | pretensionMax : FilterPostPretensionMax: filterMetadata
                                                                                           | idioma:FilterPostIdioma+FilterPostNivelIdioma
                                                                                           | conocimiento:FilterPostConocimiento+FilterPostNivelConocimiento
                                                                                           | habilidad:FilterPostHabilidad+FilterPostNivelHabilidad                                                                                            
                                                                                           | paginate: { itemsPerPage: 10, currentPage: p }" >
                                                                

                                                                <td class="pt-2"> <img src="{{lista.fotoperfilPostulante.urlImagen}}" class="rounded-circle" alt="">
                                                                </td>

                                                               

                                                                <td  class="pt-3" >
                                                                    <div>{{lista.nombrePostulante}}</div>
                                                                </td>

                                                                <td class="pt-3">{{lista.experiencialaboralPostulante.puestoExperienciaLaboral}}</td>
                                                                <td class="pt-3">{{lista.experiencialaboralPostulante.empresaExperienciaLaboral}}</td>
                                                                <td class="pt-3">{{lista.experiencialaboralPostulante.periodoinicioExperienciaLaboral}}</td>
                                                                <td class="pt-3">{{lista.experiencialaboralPostulante.periodofinExperienciaLaboral}}</td>
                                                                <td class="pt-3"><button [class.active]="lista == ListCandidatosCurrent" (click)="Seleccionarcandidato(lista)" (click)="redirect()" type="button" class="btn btn-success">Ver</button></td>     
                                                           
                                                            </tr>
                                                            
                                                  
                                                        </tbody>
                                                    </table>
                                                  
                                                </div>
                                                <br>

                                                <pagination-controls class="ngx-pagination" (pageChange)="p = $event" previousLabel="" nextLabel="">    
                                                </pagination-controls> 
                            
                                            </div>
                                            <!---->
                                            <!---->
                                            
                                            <!---->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->   
                        </div>
                        <!-- container -->

                    </div>
                    <!--  -->
                </div>
                <!--  -->
                

                <footer class="footer">
                    © 2021 Kaizen Talent. Diseñado por Partner Tech.
                </footer>

            </div>
            <!--  -->
        </div>  
        <div style="visibility: hidden;">
            <app-navigation></app-navigation>
        </div>
       
        
        
    </body>

</html>

