<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">    
<br>

<!--ACA EMPIEZA-->

<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 69.4rem;">
    <div class="card-body">
      <h3 class="card-header d-flex justify-content-between align-items-center"><b>Idiomas</b><button class="seccion_btn btnAgregar" type="button" data-toggle="modal" data-target="#NuevoModalIdioma"><i class="fas fa-plus"></i></button></h3>
      <!--Inicio Row de Cartas-->
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-4" *ngFor="let idi of CurrentIdioma | idiomas: filterIdiomas">
           <!--Inicio Card 1-->
            <div class="card cardInterna popu-category-box" style="width: 18rem;">
                <div class="card-body">
                    <i class="mdi mdi-48px mdi-school iconoEducacion"></i>
                    <h6 style="text-align: center;" class="text-uppercase f-17"><a class="text-muted">{{idi.nombreSkill}}  </a></h6>
                    <p style="text-align: center;">{{idi.nivelSkill}}</p>
                    <div class="">
                        <button class="btnBotoncitos btnEditar" [class.active]="idi == ListIdi" (click)="SeleccionarIdi(idi)" data-toggle="modal" data-target="#NuevoModalIdiomaUpdate" type="submit">
                            <i class="fas fa-pen"></i>
                        </button>

                        <button href ="#deleteIdiomaModal"  data-toggle="modal" [class.active]=" idi == ListIdi" (click)="SeleccionarIdi(idi)"  type="submit" class="btnBotoncitos btnTrash">
                            <i class="fas fa-trash"></i>
                        </button>               
                    </div>
                </div>
            </div>
          <!--Fin Card 1-->
        </div>
       </div>
       <!--Fin Row de Cartas-->

       <!--Nuevo Modal-->
       <div class="modal fullscreen-modal animate__animated animate__slideInUp" id="NuevoModalIdioma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 100%" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Agregar Idioma</h4>
              <button type="button" class="close" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">
                  <!--Boton X-->
                <!--<span aria-hidden="true">&times;</span>-->
              </button>
              
            </div>
            <div class="modal-body">
                <form [formGroup]="idiomasModalForm" (ngSubmit)="registrarIdioma()" >

                    <div class="form-group row">
                        <h3 id="tituloNivelEstudios"for="inputTituloNEstudios" class="col-form-label">Nombre Idioma</h3>
                        <div class="col-sm-10">
                        <select (change)="SeleccionarIdioma($event)" formControlName="nombreIdioma" id="inputNivelEstudios" class="form-control"
                        required>
                            <option selected disabled>Selecciona el Idioma</option>
                            <option *ngFor="let idioma of Idioma" value="{{idioma.value}}">{{idioma.text}}</option>  
                        </select>
                        
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <h3 id="tituloNivelEstudios"for="inputTituloNEstudios" class="col-form-label">Nivel de Idioma</h3>
                        <div class="col-sm-10">
                        <select (change)="SeleccionarNivel($event)" id="inputNivelEstudios" formControlName="nombreIdioma" class="form-control" 
                        required>
                            <option selected disabled>Selecciona el nivel del Idioma</option>
                            <option *ngFor="let nivelidioma of NivelIdioma" value="{{nivelidioma.value}}">{{nivelidioma.text}}</option>  
                        </select>
                         
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="seccion_btnModal btnGuardar" type="submit" [disabled]="!idiomasModalForm.valid"><i class="far fa-save"></i><a (click)="registrarIdioma()">Guardar</a></button>
                    </div> 
                </form>                                 
            </div>            
          </div>
        </div>
      </div>
       <!--Fin Nuevo Modal-->

       <!--Nuevo Modal Editar-->
       <!--Nuevo Modal-->
       <div class="modal fullscreen-modal animate__animated animate__slideInUp" id="NuevoModalIdiomaUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 100%" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Editar Idioma</h4>
              <button type="button" class="close" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">
                  <!--Boton X-->
                <!--<span aria-hidden="true">&times;</span>-->
              </button>
              
            </div>
            <div class="modal-body">
                <form  [formGroup]="idiomasUpdateModalForm" (ngSubmit)="updateIdioma()">
                    <div class="form-group row">
                        <h3 id="tituloNivelEstudios"for="inputTituloNEstudios" class="col-form-label">Nombre Idioma</h3>
                        <div class="col-sm-10">
                        <select (change)="SeleccionarIdioma($event)" formControlName="nombreIdioma" id="inputNivelEstudios" class="form-control"
                        required>
                            <option selected disabled>{{nombreSkill}}</option>
                            <option *ngFor="let idioma of Idioma" value="{{idioma.value}}">{{idioma.text}}</option>  
                        </select>
                         
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <h3 id="tituloNivelEstudios"for="inputTituloNEstudios" class="col-form-label">Nivel de Idioma</h3>
                        <div class="col-sm-10">
                        <select (change)="SeleccionarNivel($event)" id="inputNivelEstudios" formControlName="nivelIdioma" class="form-control" 
                        required>
                            <option selected disabled> {{nivelSkill}} </option>
                            <option *ngFor="let nivelidioma of NivelIdioma" value="{{nivelidioma.value}}">{{nivelidioma.text}}</option>  
                        </select>
                          
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="seccion_btnModal btnGuardar" type="submit" [disabled]="!idiomasUpdateModalForm.valid"><i class="far fa-save"></i><a (click)="updateIdioma()">Guardar</a></button>
                    </div> 
                </form>                                 
            </div>            
          </div>
        </div>
      </div>
       <!--Fin Nuevo Modal-->
       <!--Fin Nuevo Modal-->
       <!--Niu-->
      
       <!--Niu-->
    </div>
  </div>
  

  <div id="deleteIdiomaModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="deleteIdi()">
                <div class="modal-header">      
                    <h4 class="modal-title">Eliminar Idioma</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">     
                    <p>¿Estás seguro que deseas eliminar esta publicación?</p>
                    <p class="text-warning"><small>Esta acción no se puede deshacer</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-danger" value="Eliminar">
                </div>
            </form>
        </div>
    </div>
</div>





