                 


            <div id="deleteExperienciaModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form (ngSubmit)="deleteExp()">
                            <div class="modal-header">      
                                <h4 class="modal-title">Eliminar Experiencia Laboral</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">     
                                <p>¿Estás seguro que deseas eliminar esta publicación?</p>
                                <p class="text-warning"><small>Esta acción no se puede deshacer</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                                <input type="submit" class="btn btn-danger" value="Eliminar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            

<!-- -----------------------  REFERENCIA --------------------------- -->

<!-- Niu Experiencia Laboral -->

<br>
<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 69.4rem;">
    <div class="card-body">
      <h3 class="card-header d-flex justify-content-between align-items-center headerExpLaboral"><b>Experiencia Laboral</b><button class="seccion_btn btnAgregar" type="button" data-toggle="modal" data-target="#nuevoModalcito"><i class="fas fa-plus"></i></button></h3>
      <!--Inicio Row de Cartas-->
      <div class="row">
        <div class="col-12">
         <div class="card-deck">
           <!--Inicio Card 1-->
           <div class="col-lg-4 col-md-6 mt-4" *ngFor="let exp of CurrentExperiencia | experienciaLaboral: filterExp">

           <div class="card cardExpLaboral popu-category-box" style="width: 18rem;" >
            <div class="card-body">
                
              <img id="logoExpLaboral" src="{{exp.logoEmpresa.urlImagen}}">
              <h5 class="card-title tituloExpLaboral"> {{exp.nombreExperienciaLaboral}} </h5>
              <div class="cnom">
              <h6 class="card-subtitle mb-2 text-muted nombreExpLaboral"> {{exp.nombreExperienciaLaboral}} </h6>
              <h6 class="card-subtitle mb-2 text-muted fechasExpLaboral"> {{exp.periodoinicioExperienciaLaboral}} - {{exp.periodofinExperienciaLaboral}} </h6>
              <hr>
              </div>
              <h6 class="card-subtitle mb-2 text-muted descripciónExpLaboral"> {{exp.descripcionExperienciaLaboral}} </h6>
              <div class="">
                <button [class.active]=" exp == ListExp" (click)="Seleccionarexp(exp)" data-toggle="modal" data-target="#experienciaeditar" type="submit" class="btnBotoncitos btnEditar"><i class="fas fa-pen"></i></button>
                <button href ="#deleteExperienciaModal"  data-toggle="modal" [class.active]=" exp == ListExp" (click)="Seleccionarexp(exp)" type="submit" class="btnBotoncitos btnTrash"><i class="fas fa-trash"></i></button>
              </div>                       
          

            </div>
          </div>
          </div>
          <!--Fin Card 1-->
          
         </div>
        </div>
       </div>

       
       <!--Fin Row de Cartas-->
      
       <!-- REFERENCIA LABORAL -->
       <h3 class="card-header d-flex justify-content-between align-items-center headerRefLaboral"><b>Referencia Laboral</b></h3>
       <!--Inicio Card 1-->

       <div class="row">
        <div class="col-lg-4 col-md-6 mt-4" *ngFor="let ref of CurrentReferencia | experienciaLaboral: filterRef" >

            <div class="card cardExpLaboral popu-category-box" style="width: 18rem;" >
                <div class="card-body">
                    <img id="logoExpLaboral" src="{{ref.logoEmpresa.urlImagen}}">
                    <h5 class="card-title tituloExpLaboral"> {{ref.empresaReferente}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted fechasExpLaboral"> {{ref.telefonoReferente}} </h6>
                    <h6 class="card-subtitle mb-2 text-muted fechasExpLaboral"> {{ref.emailReferente}} </h6>
                    <h6 class="card-subtitle mb-2 text-muted fechasExpLaboral"> {{ref.nombreReferente}} </h6>
                </div>
            </div>
        </div>
      </div>
      
      <!--Fin Card 1-->
       <!-- FIN REFERENCIA LABORAL -->
       <!--Fin Row de Cartas-->
       <!--Nuevo Modal-->
       <div class="modal fullscreen-modal animate__animated animate__slideInUp" id="nuevoModalExpLaboral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modalIdiomas" style="max-width: 100%" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Agregar Experiencia Laboral</h4>
              <button type="button" class="close" data-toggle="modal" data-target="#experiencia" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">

                  <!--Boton X-->
                <!--<span aria-hidden="true">&times;</span>-->
              </button>
              
            </div>
            
            
            
          </div>
        </div>
      </div>

    </div>
  </div>




<!-- -->

<!-- <div class="modal-body"><input type="text" class="form-control-plaintext" value="Plain Text Value" readonly style="width: 196px;" />
  <input type="text" class="form-control-plaintext" value="Plain Text Value" readonly style="width: 174px;padding-top: -44px;margin-top: -38px;margin-right: 0px;margin-left: 244px;" />
  <input type="text" style="width: 221px;margin: 3px;padding: 10 10;padding-right: 0px;padding-bottom: -9px;padding-left: 0px;margin-left: 0px;margin-right: 19px;" />
  <input type="text" style="width: 221px;margin: 3px;padding: 10 10;padding-right: 0px;padding-bottom: -9px;padding-left: 0px;margin-left: 0px;margin-right: -2px;" />
</div> -->

<!-- Niu Kaizen Noviembre 2021  Guardar-->

<div class="modal fullscreen-modal animate__animated animate__slideInUp" id="nuevoModalcito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered modalIdiomas" style="max-width: 100%" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Agregar Experiencia Laboral</h4>
        <button type="button" class="close" data-toggle="modal" data-target="#nuevoModalcito" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">

            <!--Boton X-->
          <!--<span aria-hidden="true">&times;</span>-->
        </button>
        
      </div>
      
      <div class="modal-body">
          <form [formGroup]="experienciaModalForm" (ngSubmit)="guardarExp()">
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Experiencia Laboral</label>
                  <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Ingrese el nombre de la Experiencia Laboral" style="border-radius: 20px; text-align: center;"
                      formControlName="nombreExperienciaLaboral" id="nombreExperienciaLaboral" placeholder="Ingrese la Experiencia Laboral" required
                        [ngClass]="{
                            'is-invalid': experienciaModalForm.controls['nombreExperienciaLaboral'].invalid && 
                                        (experienciaModalForm.controls['nombreExperienciaLaboral'].dirty || 
                                        experienciaModalForm.controls['nombreExperienciaLaboral'].touched) , 
                            'is-valid': experienciaModalForm.controls['nombreExperienciaLaboral'].valid}">
                          
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['nombreExperienciaLaboral'].hasError('required')">
                                            No puede dejar este campo vacío
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['nombreExperienciaLaboral'].hasError('minlength')">
                                        Debe contener al menos 5 caracteres
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['nombreExperienciaLaboral'].hasError('maxlength')">
                                        Debe contener como maximo 50 caracteres
                            </span>
                        </div>                       
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" style="margin-top: -1%;" id="mesdeInicio">Periodo de Inicio</label>
                  <div class="col-sm-10">
                      <div class="input-group" id="inputmesdeInicio">
                          <input type="text" class="form-control input-sm" placeholder="Mes" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; text-align: center;"
                            list="fechaxinicioMes" formControlName="mesinicioExperienciaLaboral" placeholder="Mes" onfocus="this.value=''" required
                                [ngClass]="{
                                    'is-invalid':   experienciaModalForm.controls['mesinicioExperienciaLaboral'].invalid && 
                                                    (experienciaModalForm.controls['mesinicioExperienciaLaboral'].dirty || 
                                                    experienciaModalForm.controls['mesinicioExperienciaLaboral'].touched) , 
                                    'is-valid': experienciaModalForm.controls['mesinicioExperienciaLaboral'].valid}">
                                <datalist id="fechaxinicioMes">
                                        <option *ngFor="let fechaxinicioMes of MesPeriodo" value="{{fechaxinicioMes.text}}">{{fechaxinicioMes.text}}</option>
                                 </datalist> 
                                                                     
                          <span class="input-group-btn" style="width:0px;"></span>
                          <input type="number" class="form-control input-sm" placeholder="Año" min="1900" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; text-align: center;"
                            formControlName="anioinicioExperienciaLaboral" id="fechaxinicioAño" required
                            [ngClass]="{
                                'is-invalid': experienciaModalForm.controls['anioinicioExperienciaLaboral'].invalid && 
                                            (experienciaModalForm.controls['anioinicioExperienciaLaboral'].dirty || 
                                            experienciaModalForm.controls['anioinicioExperienciaLaboral'].touched) , 
                                'is-valid': experienciaModalForm.controls['anioinicioExperienciaLaboral'].valid}"> 
                                
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="experienciaModalForm.controls['mesinicioExperienciaLaboral'].hasError('required') || experienciaModalForm.controls['anioinicioExperienciaLaboral'].hasError('required') ">
                                                No puede dejar estos campos vacíos
                                    </span>
                                </div>                                    
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="experienciaModalForm.controls['mesinicioExperienciaLaboral'].hasError('maxlength')">
                                                Seleccione un mes de la lista
                                    </span>
                                </div>
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="experienciaModalForm.controls['anioinicioExperienciaLaboral'].hasError('max')">
                                                El año maximo permitido es {{anioactual}}
                                    </span>
                                </div>
                                <div class="invalid-feedback">
                                    <span class="text-danger" *ngIf="experienciaModalForm.controls['anioinicioExperienciaLaboral'].hasError('min')">
                                                Ingrese un año mayor a {{aniomin}}
                                    </span>
                                </div>                  
                                                
                        </div>
                        
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-2 col-form-label" style="margin-top: -1%;" id="mesdeFin">Periodo de Finalización</label>
                  <div class="col-sm-10">
                      <div class="input-group" id="inputmesdeFin">                         

                        <input type="text" class="form-control input-sm" list="fechaxfinMes" placeholder="Mes" [ngModel]="mesfinal" formControlName="mesfinExperienciaLaboral" onfocus="this.value=''" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; text-align: center;" />
                            <datalist id="fechaxfinMes">
                                <option *ngFor="let fechaxfinMes of MesPeriodo" value="{{fechaxfinMes.text}}">{{fechaxfinMes.text}}</option>
                            </datalist> 
                          <span class="input-group-btn" style="width:0px;"></span>
                          <input type="number" min="1900" class="form-control input-sm" [ngModel]="anio" formControlName="aniofinExperienciaLaboral" id="fechaxfinAño" placeholder="Año" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; text-align: center;"/>
                        </div>
                        
                  </div>
              </div>
              <div class="form-group row formcito">
                  <label class="col-sm-2 col-form-label">Empresa</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" formControlName="empresaExperienciaLaboral" id="nombreEmpresa" placeholder="Ingrese el nombre de la Empresa" style="border-radius: 20px; text-align: center;"
                    [ngClass]="{
                        'is-invalid': experienciaModalForm.controls['empresaExperienciaLaboral'].invalid && 
                                     (experienciaModalForm.controls['empresaExperienciaLaboral'].dirty || 
                                     experienciaModalForm.controls['empresaExperienciaLaboral'].touched) , 
                          'is-valid': experienciaModalForm.controls['empresaExperienciaLaboral'].valid}">
                          
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['empresaExperienciaLaboral'].hasError('required')">
                                            No puede dejar este campo vacío
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['empresaExperienciaLaboral'].hasError('minlength')">
                                        Debe contener al menos 1 caracteres
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['empresaExperienciaLaboral'].hasError('maxlength')">
                                        Debe contener como maximo 50 caracteres
                            </span>
                        </div>
                  </div>
              </div>
              <div class="form-group row formcito">
                  <label class="col-sm-2 col-form-label">Descripción</label>
                  <div class="col-sm-10">
                    <textarea class="form-control tamanio" placeholder="Ingrese una breve descripción aquí" formControlName="descripcionExperienciaLaboral" id="exampleFormControlTextarea1" rows="2" style="text-align: center; border-radius: 20px;"
                    placeholder="Ingrese una breve descripción"
                    [ngClass]="{
                        'is-invalid': experienciaModalForm.controls['descripcionExperienciaLaboral'].invalid && 
                                     (experienciaModalForm.controls['descripcionExperienciaLaboral'].dirty || 
                                     experienciaModalForm.controls['descripcionExperienciaLaboral'].touched) , 
                          'is-valid': experienciaModalForm.controls['descripcionExperienciaLaboral'].valid}">                                                      
                       </textarea>
                       <div class="invalid-feedback">
                        <span class="text-danger" *ngIf="experienciaModalForm.controls['descripcionExperienciaLaboral'].hasError('required')">
                                        No puede dejar este campo vacío
                        </span>
                        </div>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['descripcionExperienciaLaboral'].hasError('minlength')">
                                        Debe contener al menos 5 caracteres
                            </span>
                        </div>
                        <div class="invalid-feedback">
                            <span class="text-danger" *ngIf="experienciaModalForm.controls['descripcionExperienciaLaboral'].hasError('maxlength')">
                                        Debe contener como maximo 50 caracteres
                            </span>
                        </div> 
                  </div>
              </div>
              <div class="form-group row formcito">
                  <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Nombre del Referente</label>
                  <div class="col-sm-10">
                      <input class="form-control" type="text" placeholder="Ingrese el nombre del Referente" formControlName="referenteReferenciaLaboral" id="referenteReferenciaLaboral" style="border-radius: 20px; text-align: center;">
                  </div>
              </div>
              <div class="form-group row formcito">
                  <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Correo del Referente</label>
                  <div class="col-sm-10">
                      <input class="form-control" type="mail" formControlName="emailreferenteReferenciaLaboral" id="emailreferenteReferenciaLaboral" placeholder="Ingrese el correo del Referente" style="border-radius: 20px; text-align: center;">
                  </div>
              </div>
              <div class="form-group row formcito">
                  <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Número del Referente</label>
                  <div class="col-sm-10">                 
                    <input class="form-control" type="number" formControlName="telefonoreferenteReferenciaLaboral" id="telefonoreferenteReferenciaLaboral" placeholder="Ingrese el número telefónico del Referente" style="border-radius: 20px; text-align: center;"
                      [ngClass]="{
                        'is-invalid': experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].invalid && 
                                    (experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].dirty || 
                                    experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].touched) , 
                        'is-valid': experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].valid}">
                    <div class="invalid-feedback">
                        <span class="text-danger" *ngIf="experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].hasError('max')">
                                        Máximo 9 dígitos
                        </span>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button class="seccion_btnModal btnGuardar" [disabled]="!experienciaModalForm.valid" type="submit"><i class="far fa-save"></i> Guardar</button>
            </div>
          </form>                              
      </div>
      
    </div>
  </div>
</div>


<!-- Niu Kaizen Noviembre 2021  ACTUALIZAR-->

<div class="modal fullscreen-modal animate__animated animate__slideInUp" id="experienciaeditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modalIdiomas" style="max-width: 100%" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 tituloModal" id="exampleModalLabel">Agregar Experiencia Laboral</h4>
          <button type="button" class="close" data-toggle="modal" data-target="#nuevoModalcito" data-dismiss="modal animate__animated animate__slideInDown" aria-label="Cerrar">
  
              <!--Boton X-->
            <!--<span aria-hidden="true">&times;</span>-->
          </button>
          
        </div>
        
        <div class="modal-body">
            <form [formGroup]="experienciaUpdateModalForm" (ngSubmit)="updateExp()">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Experiencia Laboral</label>
                    <div class="col-sm-10">                     

                        <input class="form-control" type="text" placeholder="Ingrese el nombre de la Experiencia Laboral" style="border-radius: 20px; text-align: center;"
                        formControlName="nombreExperienciaLaboral" id="nombreExperienciaLaboral" [ngModel]="nombreExperienciaLaboral" placeholder="Ingrese la Experiencia Laboral" required
                          [ngClass]="{
                              'is-invalid': experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].invalid && 
                                          (experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].dirty || 
                                          experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].touched) , 
                              'is-valid': experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].valid}">
                            
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].hasError('required')">
                                              No puede dejar este campo vacío
                              </span>
                          </div>
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].hasError('minlength')">
                                          Debe contener al menos 5 caracteres
                              </span>
                          </div>
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['nombreExperienciaLaboral'].hasError('maxlength')">
                                          Debe contener como maximo 50 caracteres
                              </span>
                          </div>                       
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="margin-top: -1%;" id="mesdeInicio">Periodo de Inicio</label>
                    <div class="col-sm-10">
                        <div class="input-group" id="inputmesdeInicio">
                            

                            <input type="text" class="form-control input-sm" placeholder="Mes" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; text-align: center;"
                              list="fechaxinicioMes" [ngModel]="mesinicio" name="fechaM" formControlName="mesinicioExperienciaLaboral" placeholder="Mes" onfocus="this.value=''" required
                                  [ngClass]="{
                                      'is-invalid':   experienciaUpdateModalForm.controls['mesinicioExperienciaLaboral'].invalid && 
                                                      (experienciaUpdateModalForm.controls['mesinicioExperienciaLaboral'].dirty || 
                                                      experienciaUpdateModalForm.controls['mesinicioExperienciaLaboral'].touched) , 
                                      'is-valid': experienciaUpdateModalForm.controls['mesinicioExperienciaLaboral'].valid}">
                                  <datalist id="fechaxinicioMes">
                                          <option *ngFor="let fechaxinicioMes of MesPeriodo" value="{{fechaxinicioMes.text}}">{{fechaxinicioMes.text}}</option>
                                   </datalist> 
                                                                       
                            <span class="input-group-btn" style="width:0px;"></span>
                            <input type="number" class="form-control input-sm" [ngModel]="anioinicio" placeholder="Año" min="1900" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; text-align: center;"
                              formControlName="anioinicioExperienciaLaboral" id="fechaxinicioAño" required
                              [ngClass]="{
                                  'is-invalid': experienciaUpdateModalForm.controls['anioinicioExperienciaLaboral'].invalid && 
                                              (experienciaUpdateModalForm.controls['anioinicioExperienciaLaboral'].dirty || 
                                              experienciaUpdateModalForm.controls['anioinicioExperienciaLaboral'].touched) , 
                                  'is-valid': experienciaUpdateModalForm.controls['anioinicioExperienciaLaboral'].valid}"> 
                                  
                                  <div class="invalid-feedback">
                                      <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['mesinicioExperienciaLaboral'].hasError('required') || experienciaModalForm.controls['anioinicioExperienciaLaboral'].hasError('required') ">
                                                  No puede dejar estos campos vacíos
                                      </span>
                                  </div>                                    
                                  <div class="invalid-feedback">
                                      <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['mesinicioExperienciaLaboral'].hasError('maxlength')">
                                                  Seleccione un mes de la lista
                                      </span>
                                  </div>
                                  <div class="invalid-feedback">
                                      <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['anioinicioExperienciaLaboral'].hasError('max')">
                                                  El año maximo permitido es {{anioactual}}
                                      </span>
                                  </div>
                                  <div class="invalid-feedback">
                                      <span class="text-danger" *ngIf="experienciaUpdateModalForm.controls['anioinicioExperienciaLaboral'].hasError('min')">
                                                  Ingrese un año mayor a {{aniomin}}
                                      </span>
                                  </div>                  
                                                  
                          </div>
                          
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" style="margin-top: -1%;" id="mesdeFin">Periodo de Finalización</label>
                    <div class="col-sm-10">
                        <div class="input-group" id="inputmesdeFin">                       
  
                          <input type="text" class="form-control input-sm" list="fechaxfinMes" placeholder="Mes" formControlName="mesfinExperienciaLaboral" onfocus="this.value=''" style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; text-align: center;" />
                              <datalist id="fechaxfinMes">
                                  <option *ngFor="let fechaxfinMes of MesPeriodo" value="{{fechaxfinMes.text}}">{{fechaxfinMes.text}}</option>
                              </datalist> 
                            <span class="input-group-btn" style="width:0px;"></span>
                            <input type="number" min="1900" class="form-control input-sm" formControlName="aniofinExperienciaLaboral" id="fechaxfinAño" placeholder="Año" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; text-align: center;"/>
                          </div>
                          
                    </div>
                </div>
                <div class="form-group row formcito">
                    <label class="col-sm-2 col-form-label">Empresa</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" [ngModel]="empresaExperienciaLaboral" formControlName="empresaExperienciaLaboral" id="nombreEmpresa" placeholder="Ingrese el nombre de la Empresa" style="border-radius: 20px; text-align: center;"
                      [ngClass]="{
                          'is-invalid': experienciaModalForm.controls['empresaExperienciaLaboral'].invalid && 
                                       (experienciaModalForm.controls['empresaExperienciaLaboral'].dirty || 
                                       experienciaModalForm.controls['empresaExperienciaLaboral'].touched) , 
                            'is-valid': experienciaModalForm.controls['empresaExperienciaLaboral'].valid}">
                            
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaModalForm.controls['empresaExperienciaLaboral'].hasError('required')">
                                              No puede dejar este campo vacío
                              </span>
                          </div>
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaModalForm.controls['empresaExperienciaLaboral'].hasError('minlength')">
                                          Debe contener al menos 1 caracteres
                              </span>
                          </div>
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaModalForm.controls['empresaExperienciaLaboral'].hasError('maxlength')">
                                          Debe contener como maximo 50 caracteres
                              </span>
                          </div>
                    </div>
                </div>
                <div class="form-group row formcito">
                    <label class="col-sm-2 col-form-label">Descripción</label>
                    <div class="col-sm-10">
                      <textarea class="form-control tamanio" placeholder="Ingrese una breve descripción aquí" [ngModel]="descripcionExperienciaLaboral" formControlName="descripcionExperienciaLaboral" id="exampleFormControlTextarea1" rows="2" style="text-align: center; border-radius: 20px;"
                      placeholder="Ingrese una breve descripción"
                      [ngClass]="{
                          'is-invalid': experienciaModalForm.controls['descripcionExperienciaLaboral'].invalid && 
                                       (experienciaModalForm.controls['descripcionExperienciaLaboral'].dirty || 
                                       experienciaModalForm.controls['descripcionExperienciaLaboral'].touched) , 
                            'is-valid': experienciaModalForm.controls['descripcionExperienciaLaboral'].valid}">                                                      
                         </textarea>
                         <div class="invalid-feedback">
                          <span class="text-danger" *ngIf="experienciaModalForm.controls['descripcionExperienciaLaboral'].hasError('required')">
                                          No puede dejar este campo vacío
                          </span>
                          </div>
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaModalForm.controls['descripcionExperienciaLaboral'].hasError('minlength')">
                                          Debe contener al menos 5 caracteres
                              </span>
                          </div>
                          <div class="invalid-feedback">
                              <span class="text-danger" *ngIf="experienciaModalForm.controls['descripcionExperienciaLaboral'].hasError('maxlength')">
                                          Debe contener como maximo 50 caracteres
                              </span>
                          </div> 
                    </div>
                </div>
                <div class="form-group row formcito">
                    <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Nombre del Referente</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del Referente" [ngModel]="referenteExperienciaLaboral" formControlName="referenteReferenciaLaboral" id="referenteReferenciaLaboral" style="border-radius: 20px; text-align: center;">
                    </div>
                </div>
                <div class="form-group row formcito">
                    <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Correo del Referente</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="mail" [ngModel]="emailReferente" formControlName="emailreferenteReferenciaLaboral" id="emailreferenteReferenciaLaboral" placeholder="Ingrese el correo del Referente" style="border-radius: 20px; text-align: center;">
                    </div>
                </div>
                <div class="form-group row formcito">
                    <label class="col-sm-2 col-form-label" style="margin-top: -1%;">Número del Referente</label>
                    <div class="col-sm-10">                 
                      <input class="form-control" type="number"  [ngModel]="telefonoReferente" formControlName="telefonoreferenteReferenciaLaboral" id="telefonoreferenteReferenciaLaboral" placeholder="Ingrese el número telefónico del Referente" style="border-radius: 20px; text-align: center;"
                        [ngClass]="{
                          'is-invalid': experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].invalid && 
                                      (experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].dirty || 
                                      experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].touched) , 
                          'is-valid': experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].valid}">
                      <div class="invalid-feedback">
                          <span class="text-danger" *ngIf="experienciaModalForm.controls['telefonoreferenteReferenciaLaboral'].hasError('max')">
                                          Máximo 9 dígitos
                          </span>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button class="seccion_btnModal btnGuardar" [disabled]="!experienciaUpdateModalForm.valid" type="submit"><i class="far fa-save"></i> Guardar</button>
              </div>
            </form>                              
        </div>
        
      </div>
    </div>
  </div>

